{% if paginator.total_pages > 1 %}
<div class="list-pagination">
  {% if paginator.previous_page %}
  <a
    class="pagination-arrow arrow-left"
    href="{{ paginator.previous_page_path | relative_url }}"
  >
    上一页
  </a>
  {% endif %}
  <!-- {% for page in (1..paginator.total_pages) %} {% if page ==
  paginator.page %}
  <em>{{ page }}</em>
  {% elsif page == 1 %}
  <a href="{{ paginator.previous_page_path | relative_url }}">
    {{ page }}
  </a>
  {% else %}
  <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
    {{ page }}
  </a>
  {% endif %} {% endfor %}  -->
  {% if paginator.next_page %}
  <a
    class="pagination-arrow arrow-right"
    href="{{ paginator.next_page_path | relative_url }}"
  >
    下一页
  </a>
  {% endif %}
</div>

{% endif %}
