<div class="post-item" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="post-item-body posts-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <div class="posts-image" data-aos="fade-in" itemprop="image" title="{{ post.title }}" style="background-image: url({{ post.image }})"></div>
    {% endif %}
    <div class="posts-content">
      <h2 class="posts-title" itemprop="name">{{ post.title }}</h2>
      {% if post.description %}
        <p class="posts-description" itemprop="description">{{ post.description }}</p itemprop="description">
      {% endif %}
      <p class="posts-author">
        {{ post.date | date_to_string }} {% assign author = site.authors | where:
        'short_name', post.author | first %} {% if author %} - {{ author.name }}
        {% endif %}
      </p>
    </div>
  </a>
</div>
