body {
  // opacity: 0;
  padding: 3vw;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  transition: opacity 380ms;

  main {
    transform: translateY(1vh);
    opacity: 0;
    transition: all ease-in-out 380ms;
  }

  &.render {
    // opacity: 1;

    main {
      opacity: 1;
      transform: translateY(0vh);
    }
  }
}
