footer {
  padding: 0 80px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;

  .footer-nav {
    padding: 64px 0;
    text-align: center;

    nav {
      display: flex;
      align-items: center;

      a {
        padding: 0 8px;
        font-size: 16px;
        line-height: 32px;
        color: #3a3a3a;
        opacity: 0.4;
        transition: all ease-in-out 380ms;

        &:hover {
          text-decoration: none;
          opacity: 1;
        }

        &.current {
          opacity: 1;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  footer {
    padding: 0 20px;

    .footer-nav {
      padding: 24px 0;
    }
  }
}
