.highlighter-rouge {
  padding: 1rem 1rem 1px;
  margin: 1rem 0 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(8, 11, 14, 0.06),
    0 16px 16px -1px rgba(8, 11, 14, 0.1);
  position: relative;
  z-index: 1;
  // background-color: #121212;

  &.language-plaintext {
    padding: 0.25rem 0.5rem;
    margin: auto 0.25rem;
    transition: all ease-in-out 280ms;

    &:hover {
      background-color: #121212;
      color: #fff;
    }
  }
}

// 别人的
.highlight {
  .c,
  .cm,
  .c1,
  .cs {
    color: #408080;
  }
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .sx,
  .bp,
  .nt,
  .nb {
    color: #008000;
  }
  .o,
  .m,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: #666666;
  }
  .cp {
    color: #bc7a00;
  }
  .gd {
    color: #a00000;
  }
  .gr {
    color: #ff0000;
  }
  .gh,
  .gp {
    color: #000080;
  }
  .gi {
    color: #00a000;
  }
  .go {
    color: #808080;
  }
  .gu {
    color: #800080;
  }
  .gt {
    color: #0040d0;
  }
  .kt {
    color: #b00040;
  }
  .na {
    color: #7d9029;
  }
  .no {
    color: #880000;
  }
  .nd,
  .ow {
    color: #aa22ff;
  }
  .ni {
    color: #999999;
  }
  .ne {
    color: #d2413a;
  }
  .nc,
  .nf,
  .nn {
    color: #0000ff;
  }
  .nl {
    color: #a0a000;
  }
  .w {
    color: #bbbbbb;
  }
  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .s1 {
    color: #ba2121;
  }
  .se {
    color: #bb6622;
  }
  .si,
  .sr {
    color: #bb6688;
  }
  .ss,
  .vs,
  .vg,
  .vi,
  .nv {
    color: #19177c;
  }
  .c,
  .cm,
  .c1,
  .cs,
  .ge,
  .sd {
    font-style: italic;
  }
  .k,
  .kc,
  .kd,
  .kn,
  .kr,
  .gh,
  .gp,
  .gs,
  .gu,
  .nc,
  .ni,
  .ne,
  .nn,
  .nt,
  .ow,
  .se,
  .si {
    font-weight: bold;
  }
}
