@import "header";
@import "post";
@import "footer";

.current {
  color: $cyan;
}

.grid-item {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.grid-item-body {
  padding: 6px;
  display: block;
}

.posts-link {
  padding: 6vw;
}
