@import "header";
@import "post";
@import "footer";
@import "highlight";

.post-main {
  padding: 80px;
  color: v(h1-color);
  line-height: 1.6;
}

.post-header {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  height: auto !important;
}

.post-utteranc {
  padding: 20px 80px;
}

.current {
  color: $cyan;
}

.grid-item {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.grid-item-body {
  padding: 6px;
  display: block;
}

.home-list {
  padding: 0 80px;
}

.home-pagination {
  padding: 0;
}

.post-item {
  position: relative;
  min-height: 600px;
  margin-bottom: 20px;

  .post-item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    height: inherit;
    border-radius: 12px;
    overflow: hidden;
    background-color: v(card-background-color);
    box-shadow: 0 0 1px 0 rgba(8, 11, 14, 0.06),
      0 6px 6px -1px rgba(8, 11, 14, 0.1);

    .posts-image,
    .posts-content {
      flex: 1;
      min-height: inherit;
      height: inherit;
    }

    .posts-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .posts-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .posts-body {
        padding: 0 40px;
      }

      .posts-title {
        font-size: 60px;
        line-height: 1.1;
        color: v(h1-color);
        transition: background-size ease-in-out 580ms;
        background: linear-gradient(v(h1-color), v(h1-color)) no-repeat left 87%/0
          30%;
      }

      .posts-description {
        font-size: 16px;
        line-height: 1.5;
        color: v(h1-color);
        margin: 20px 0 15px;
      }

      .posts-author {
        font-size: 15px;
        line-height: 1.5;
        color: v(h1-color);
        font-weight: 600;
        opacity: 0.8;
      }
    }

    &:hover {
      text-decoration: none;

      .posts-title {
        text-decoration: underline;
        // background-size: 97% 30%;
      }
    }
  }

  &:nth-child(odd) {
    .post-item-body {
      flex-direction: row-reverse;

      .posts-content {
        .posts-body {
          text-align: right;
        }
      }
    }
  }

  &:first-child {
    margin-left: -80px;
    margin-right: -80px;
    height: 100vh;

    .posts-content {
      .posts-body {
        text-align: left !important;
        padding: 0 80px !important;
      }
    }

    .post-item-body {
      border-radius: 0;
      box-shadow: none;
    }
  }
}

.list-pagination {
  display: flex;
  align-items: center;

  .pagination-arrow {
    flex: 1;
    padding: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    color: v(h1-color);

    &:hover {
      text-decoration: none;
    }
  }

  .arrow-left::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/icon/arrow_left.svg);
  }

  .arrow-right::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/icon/arrow_right.svg);
  }
}

@media (max-width: 992px) {
  .post-item {
    .post-item-body {
      flex-direction: column !important;

      .posts-image,
      .posts-content {
        width: 100%;
        min-height: initial !important;
        height: initial !important;
      }

      .posts-image {
        flex: 1 !important;
      }

      .posts-content {
        flex: initial !important;
        padding: 40px 0;
      }

      .posts-content .posts-body > * {
        text-align: center !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .post-item {
    &:first-child {
      margin-left: -20px;
      margin-right: -20px;
    }

    .post-item-body {
      .posts-content {
        padding: 40px 0;

        .posts-body {
          padding: 0 20px !important;
        }

        .posts-title {
          font-size: 26px;
        }
      }
    }
  }

  .home-list {
    padding: 0 20px;
  }

  .pagination-arrow {
    padding: 40px 20px !important;
  }

  .post-main {
    padding: 30px 20px;
  }

  .post-utteranc {
    padding: 20px 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .post-item .post-item-body {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .list-pagination {
    .arrow-left::before {
      background-image: url(/assets/icon/arrow_left_dark.svg);
    }

    .arrow-right::after {
      background-image: url(/assets/icon/arrow_right_dark.svg);
    }
  }
}
