@import "header";
@import "post";
@import "footer";
@import "highlight";

.post-main {
  padding: 100px 80px;
}

.post-header {
  height: 100vh;
  display: flex;
  align-items: center;

  .post-title-wrap,
  .post-image-wrap {
    flex: 1;
    height: 100%;
  }

  .post-title-wrap {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    padding: 0 80px;
  }

  .post-image-wrap {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.post-utteranc {
  padding: 20px 80px;
}

.current {
  color: $cyan;
}

.grid-item {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.grid-item-body {
  padding: 6px;
  display: block;
}

.home-list,
.home-pagination {
  padding: 0 80px;
}

.post-item {
  position: relative;
  min-height: 600px;

  .post-item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    height: inherit;
    background-color: #f9f9f9;

    .posts-image,
    .posts-content {
      flex: 1;
      min-height: inherit;
      height: inherit;
    }

    .posts-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .posts-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > * {
        padding: 0 40px;
      }

      .posts-title {
        font-size: 60px;
        line-height: 1.1;
        color: #000;
      }

      .posts-description {
        font-size: 16px;
        line-height: 1.5;
        color: #0f0f0f;
        margin: 20px 0 15px;
      }

      .posts-author {
        font-size: 15px;
        line-height: 1.5;
        color: #000;
        font-weight: 600;
      }
    }

    &:hover {
      text-decoration: none;

      .posts-title {
        text-decoration: underline;
      }
    }
  }

  &:nth-child(odd) {
    .post-item-body {
      flex-direction: row-reverse;

      .posts-content {
        > * {
          text-align: right;
        }
      }
    }
  }

  &:first-child {
    margin-left: -80px;
    margin-right: -80px;
    height: 100vh;

    .posts-content {
      > * {
        text-align: left !important;
        padding: 0 80px !important;
      }
    }
  }
}
