.yoyoyo-header .header-description {
  font-size: 11px;
  line-height: 1.4;
  position: fixed;
  z-index: 2;
  top: 55px;
  left: 33px;
  max-width: 400px;
  height: 100px;
  cursor: default;
  transform: rotate(-90deg) translate(-100%, 0%);
  transform-origin: 0 0;
  text-align: right;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: v(h1-color); }
.yoyoyo-header nav,
.yoyoyo-header .header-contact {
  display: none;
  align-items: center; }
  .yoyoyo-header nav a,
  .yoyoyo-header .header-contact a {
    padding: 0 8px;
    font-size: 16px;
    line-height: 32px;
    color: #3a3a3a;
    opacity: 0.4;
    transition: all ease-in-out 380ms; }
    .yoyoyo-header nav a:hover,
    .yoyoyo-header .header-contact a:hover {
      text-decoration: none;
      opacity: 1; }
    .yoyoyo-header nav a.current,
    .yoyoyo-header .header-contact a.current {
      opacity: 1; }
.yoyoyo-header a.yoyoyo-header-logo {
  position: absolute;
  z-index: 9999;
  width: 50px;
  height: 50px;
  left: 80px;
  top: 55px;
  padding: 0;
  flex-shrink: 0;
  display: block;
  transition: all ease-in-out 380ms;
  background-image: url(/assets/icon/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

@media (prefers-color-scheme: dark), (max-width: 992px) {
  .yoyoyo-header a.yoyoyo-header-logo {
    background-image: url(/assets/icon/logo-dark.svg); }

  .yoyoyo-header .header-description {
    opacity: 0.8; } }
@media (max-width: 768px) {
  a.yoyoyo-header-logo {
    left: 30px !important;
    top: 33px !important; }

  .header-description {
    top: 33px !important;
    left: 2px !important; } }
.utterances {
  max-width: 100% !important; }

footer {
  padding: 0 80px;
  position: relative;
  background-color: v(body-background-color);
  overflow: hidden; }
  footer .footer-nav {
    padding: 64px 0;
    text-align: center; }
    footer .footer-nav nav {
      display: flex;
      align-items: center; }
      footer .footer-nav nav a {
        padding: 0 8px;
        font-size: 16px;
        line-height: 32px;
        color: v(footer-text-color);
        opacity: 0.4;
        transition: all ease-in-out 380ms; }
        footer .footer-nav nav a:hover {
          text-decoration: none;
          opacity: 1; }
        footer .footer-nav nav a.current {
          opacity: 1; }

@media (max-width: 768px) {
  footer {
    padding: 0 20px; }
    footer .footer-nav {
      padding: 24px 0; } }
.highlighter-rouge {
  padding: 1rem 1rem 1px;
  margin: 1rem 0 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(8, 11, 14, 0.06), 0 6px 6px -1px rgba(8, 11, 14, 0.1);
  position: relative;
  z-index: 1;
  background-color: v(code-background-color); }
  .highlighter-rouge.language-plaintext {
    padding: 0.25rem 0.5rem;
    margin: auto 0.25rem;
    transition: all ease-in-out 280ms; }
    .highlighter-rouge.language-plaintext:hover {
      background-color: #121212;
      color: #fff; }

.highlight {
  color: v(code-default-color); }
  .highlight .c,
  .highlight .cm,
  .highlight .c1,
  .highlight .cs {
    color: #408080; }
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .sx,
  .highlight .bp,
  .highlight .nt,
  .highlight .nb {
    color: #008000; }
  .highlight .o,
  .highlight .m,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .mo,
  .highlight .il {
    color: #666666; }
  .highlight .cp {
    color: #bc7a00; }
  .highlight .gd {
    color: #a00000; }
  .highlight .gr {
    color: #ff0000; }
  .highlight .gh,
  .highlight .gp {
    color: #000080; }
  .highlight .gi {
    color: #00a000; }
  .highlight .go {
    color: #808080; }
  .highlight .gu {
    color: #800080; }
  .highlight .gt {
    color: #0040d0; }
  .highlight .kt {
    color: #b00040; }
  .highlight .na {
    color: #7d9029; }
  .highlight .no {
    color: #880000; }
  .highlight .nd,
  .highlight .ow {
    color: #aa22ff; }
  .highlight .ni {
    color: #999999; }
  .highlight .ne {
    color: #d2413a; }
  .highlight .nc,
  .highlight .nf,
  .highlight .nn {
    color: #0000ff; }
  .highlight .nl {
    color: #a0a000; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .s1 {
    color: #ba2121; }
  .highlight .se {
    color: #bb6622; }
  .highlight .si,
  .highlight .sr {
    color: #bb6688; }
  .highlight .ss,
  .highlight .vs,
  .highlight .vg,
  .highlight .vi,
  .highlight .nv {
    color: #19177c; }
  .highlight .c,
  .highlight .cm,
  .highlight .c1,
  .highlight .cs,
  .highlight .ge,
  .highlight .sd {
    font-style: italic; }
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kn,
  .highlight .kr,
  .highlight .gh,
  .highlight .gp,
  .highlight .gs,
  .highlight .gu,
  .highlight .nc,
  .highlight .ni,
  .highlight .ne,
  .highlight .nn,
  .highlight .nt,
  .highlight .ow,
  .highlight .se,
  .highlight .si {
    font-weight: bold; }

:root {
  --body-background-color: #ffffff;
  --card-background-color: #f9f9f9;
  --h1-color: #000000;
  --footer-text-color: #3a3a3a;
  --code-background-color: #ffffff;
  --code-default-color: #000000; }

@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #121212;
    --card-background-color: #222222;
    --h1-color: #ffffff;
    --footer-text-color: #ffffff;
    --code-background-color: #222222;
    --code-default-color: #dadee0; } }
.post-main {
  padding: 80px;
  color: v(h1-color);
  line-height: 1.6; }

.post-header {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  height: auto !important; }

.post-utteranc {
  padding: 20px 80px; }

.current {
  color: #17a2b8; }

.grid-item {
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden; }

.grid-item-body {
  padding: 6px;
  display: block; }

.home-list {
  padding: 0 80px; }

.home-pagination {
  padding: 0; }

.post-item {
  position: relative;
  min-height: 600px;
  margin-bottom: 20px; }
  .post-item .post-item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    height: inherit;
    border-radius: 12px;
    overflow: hidden;
    background-color: v(card-background-color);
    box-shadow: 0 0 1px 0 rgba(8, 11, 14, 0.06), 0 6px 6px -1px rgba(8, 11, 14, 0.1); }
    .post-item .post-item-body .posts-image,
    .post-item .post-item-body .posts-content {
      flex: 1;
      min-height: inherit;
      height: inherit; }
    .post-item .post-item-body .posts-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .post-item .post-item-body .posts-content {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .post-item .post-item-body .posts-content .posts-body {
        padding: 0 40px; }
      .post-item .post-item-body .posts-content .posts-title {
        font-size: 60px;
        line-height: 1.1;
        color: v(h1-color);
        transition: background-size ease-in-out 580ms;
        background: linear-gradient(v(h1-color), v(h1-color)) no-repeat left 87%/0 30%; }
      .post-item .post-item-body .posts-content .posts-description {
        font-size: 16px;
        line-height: 1.5;
        color: v(h1-color);
        margin: 20px 0 15px; }
      .post-item .post-item-body .posts-content .posts-author {
        font-size: 15px;
        line-height: 1.5;
        color: v(h1-color);
        font-weight: 600;
        opacity: 0.8; }
    .post-item .post-item-body:hover {
      text-decoration: none; }
      .post-item .post-item-body:hover .posts-title {
        text-decoration: underline; }
  .post-item:nth-child(odd) .post-item-body {
    flex-direction: row-reverse; }
    .post-item:nth-child(odd) .post-item-body .posts-content .posts-body {
      text-align: right; }
  .post-item:first-child {
    margin-left: -80px;
    margin-right: -80px;
    height: 100vh; }
    .post-item:first-child .posts-content .posts-body {
      text-align: left !important;
      padding: 0 80px !important; }
    .post-item:first-child .post-item-body {
      border-radius: 0;
      box-shadow: none; }

.list-pagination {
  display: flex;
  align-items: center; }
  .list-pagination .pagination-arrow {
    flex: 1;
    padding: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    color: v(h1-color); }
    .list-pagination .pagination-arrow:hover {
      text-decoration: none; }
  .list-pagination .arrow-left::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/icon/arrow_left.svg); }
  .list-pagination .arrow-right::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/icon/arrow_right.svg); }

@media (max-width: 992px) {
  .post-item .post-item-body {
    flex-direction: column !important; }
    .post-item .post-item-body .posts-image,
    .post-item .post-item-body .posts-content {
      width: 100%;
      min-height: initial !important;
      height: initial !important; }
    .post-item .post-item-body .posts-image {
      flex: 1 !important; }
    .post-item .post-item-body .posts-content {
      flex: initial !important;
      padding: 40px 0; }
    .post-item .post-item-body .posts-content .posts-body > * {
      text-align: center !important; } }
@media (max-width: 768px) {
  .post-item:first-child {
    margin-left: -20px;
    margin-right: -20px; }
  .post-item .post-item-body .posts-content {
    padding: 40px 0; }
    .post-item .post-item-body .posts-content .posts-body {
      padding: 0 20px !important; }
    .post-item .post-item-body .posts-content .posts-title {
      font-size: 26px; }

  .home-list {
    padding: 0 20px; }

  .pagination-arrow {
    padding: 40px 20px !important; }

  .post-main {
    padding: 30px 20px; }

  .post-utteranc {
    padding: 20px 16px; } }
@media (prefers-color-scheme: dark) {
  .post-item .post-item-body {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

  .list-pagination .arrow-left::before {
    background-image: url(/assets/icon/arrow_left_dark.svg); }
  .list-pagination .arrow-right::after {
    background-image: url(/assets/icon/arrow_right_dark.svg); } }
