<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    {% include tags.html %}
    {{ content }}
    {% include categories.html %}
    <!-- <script src="{{ site.baseurl }}/assets/js/app.js"></script> -->
    <script type="application/ld+json">
      {
        "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
        "@id": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
        "appid": "{{ site.baidu.appid }}",
        {% if page.title %}
        "title": "{{ page.title }}",
        {% else %}
        "title": "{{ site.title }}",
        {% endif%}
        "images": [
          "{{ site.url }}{{ site.baseurl }}{{ page.previewimg}}"
        ],
        "pubDate": "{{ page.date | date_to_xmlschema }}"
      }
  </script>
  </body>
</html>
